.loading {
  border-radius:1rem;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, .05) 00%,
    rgba(0, 0, 0, .05) 60%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, .05) 80%,
    rgba(0, 0, 0, .05) 100%
  );
  background-size: 200% 200%; 
  background-position: -100% -100%; 
  transition: background-position 2s linear; 
}

.loading-progress .loading {
  background-position: 100% 100%;
  transition: background-position 0s linear; 
}